

.navbar-header {
   position: absolute;
      /* Position it relative to the container */
      top: 0;
      /* Position it at the top of the container */
      left: 0;
      /* Position it at the left of the container */
      margin: 0;
      width: 100%;
      background: #686666;

      font-size: 25px;
      color: #FFF;
      padding: 8px;
      font-weight: 400;
      white-space: nowrap;
      /* Prevent text from wrapping */

      align-items: center;
   display: flex;
   justify-content: space-between; /* Ensure space between title and menu */
   /* stack things horizontally */
   box-sizing: border-box;
      /*ensures that padding and border are included in the element's total width and height.*/


   z-index: 10;
}

.navbar-menu-title{
   position: relative;
   left: 5%;

}

.navbar-menu-lists {
   list-style: none;
   margin-left: auto;
   /* Pushes the navbar-menu to the right */
   white-space: nowrap;
   /* Prevent text from wrapping like to next line*/
   overflow: hidden;

   position: relative;
   font-size: 20px;
   right: 5%;
}

.navbar-menu-lists li {
   display: inline-block; 
   /*makes an element behave like an 
   inline element(sits within the flow of text and does not start on a new line)
    but allows it to have block-level properties like width and height.*/
   cursor: pointer;

   padding-right: 40px;
   color: #FFF;

   font-weight: 300;
}

/* Remove padding-right for the last list item */
.navbar-menu-lists li:last-child {
   padding-right: 2vw;
}

.navbar-menu a {
   /**anchor elements,ones that have links */
   text-decoration: none;
   color: #89A5B5;
   display: block;
}

@media (max-aspect-ratio: 1/1.6) {
   .navbar-menu-lists li {
         font-size: 15px;
         padding-right: 20px;
      }
}