
/* css for the main parent*/
@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
    font-style: normal;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

